/** Stylus Styles */
@import './theme'
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $light-blue.darken-1
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $light-blue.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'
